body {
	background-color: #ffffff;
	margin: 0 15%;
	font-family: sans-serif;
}
header > hgroup > h1 {
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
}

header > hgroup >  h2 {
	text-align: center;
	color: #3CB7BF;
	font-size: 1em;
}

figure > figcaption {
	text-align: center;
}

header > img, figure > img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

section > article > header > h3{
	border-bottom: 0.3px dotted #80d3fc;
}

section > article {
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 15px;
}

 iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

td, th{

	text-align: center;
	border: solid 1px;
	padding: 3px;
}

table{

	border: solid 1px;
}